main {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-gap: 20px;
}

.page-logo {
    height: 5%;
    width: 5%;
    opacity: 0.8;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    transition: all .5s ease-in-out;
}

.page-logo:hover {
    height: 8%;
    width: 8%;
    opacity: 0.8;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    transform: rotate(1800deg);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3B4CCA;
    padding: 5px 0px 5px 0px;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    text-transform: lowercase;
    flex-grow: 1;
    margin-left: 2%;
    color: white;
}

.sort-and-search-section {
    background: #FFDE00;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    text-align: center;
    height: 100%;
}

.sort-and-search-section input {
    height: 30px;
    width: 250px;
    font-family: 'Orbitron', sans-serif;
    color: rgba(204, 0, 0, 0.733);
    font-weight: bolder;
    font-size: 1.1em;
}

.sort-and-search-section select {
    height: 30px;
    width: 250px;
    font-family: 'Orbitron', sans-serif;
    color: rgba(204, 0, 0, 0.733);
    font-weight: bolder;
    font-size: 1.05em;
}

.search-bar {
    margin-bottom: 15px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

li {
    height: 200px;
    background: rgba(238, 238, 238, 0.801);
    border: 2px solid rgba(255, 255, 0, 0.822);
    transition: all .2s ease-in-out;
}

li:hover {
    transform: scale(1.1);
}

li h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 5px;
    background: rgb(114, 114, 114);
    color: white;
    font-weight: bold;
}

.card-image {
    height: 40%;
    width: 40%;

}
.card-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.5em;
}

@media only screen and (max-width: 650px) {
    .card-image {
        height: 35%;
        width: 35%;
    }
    main {
        grid-template-columns: 1fr;
    }
    .card-flex {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
  }