main {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-gap: 20px;
    padding: 10px 10px 0px 10px;
    grid-template-rows: auto;
    grid-template-areas: 
        "sort-and-search-here paging"
        "sort-and-search-here render-cards-here";
}

.paging {
    grid-area: paging;
    /* height: 2px; */
    /* margin-top: 20px; */
}

.sort-and-search-here {
    grid-area: sort-and-search-here;
}

.page-logo {
    height: 8%;
    width: 8%;
    min-width: 70px;
    opacity: 0.9;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    transition: all .5s ease-in-out;
    /* box-shadow: 2px 2px 2px black; */
}

.page-logo:hover {
    height: 10%;
    width: 10%;
    opacity: 0.8;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    transform: rotate(1800deg);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(114, 114, 114, 0.507); */
    padding: 20px 0px 20px 0px;
    background-image: url("../assets/Screen Shot 2019-08-16 at 7.36.18 AM.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
    /* border: 1px solid #eee; */
}

.header-span {
    font-size: 0.4em;
    /* font-style: italic; */
    font-family: 'Kaushan Script', cursive;
    color: #FFDE00;
    margin-left: 10px;

}

header h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
    font-size: 4.8em;
    /* text-transform: lowercase; */
    flex-grow: 1;
    margin-left: 2%;
    color: #CC0000;
    /* margin-top: 35px; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sort-and-search-section {
    background-image: url("../assets/pokeball-clipart-2.png");
    background-size: 700px;
    background-repeat: no-repeat; 
    background-position: 0% 15%;
    border: 1px solid #eee;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    height: 100%;
    min-width: 330px;
}

.render-cards-here {
    grid-area: render-cards-here;
    /* margin-top: 20px; */
}

.search-bar-flex {
    display: flex;
    /* align-items-center; */
    justify-content: space-between;
}

.sort-and-search-section input {
    width: 250px;
    font-family: 'Oswald', sans-serif;
    /* color: rgba(204, 0, 0, 0.733); */
    /* font-weight: bolder; */
    font-size: 1.01em;
    /* border-radius: px; */
}

.sort-and-search-section select {
    /* height: 30px; */
    width: 250px;
    font-family: 'Oswald', sans-serif;
    /* color: rgba(204, 0, 0, 0.733); */
    /* font-weight: bolder; */
    font-size: 1.01em;
}

.search-bar {
    margin-bottom: 15px;
}


.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

li {
    height: 200px;
    /* background: rgba(238, 238, 238, 0.801); */
    border-radius: 5px;
    transition: all .2s ease-in-out;
    /* background-image: url("../assets/card background.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #eee;
}

li:hover {
    transform: scale(1.05);
}

li h2 {
    text-align: center;
    font-family: 'Changa', sans-serif;
    margin-bottom: 5px;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(114, 114, 114);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-transform: capitalize;
}

.card-image {
    height: 40%;
    width: 40%;

}
.card-flex {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 15px; */
}

.text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: bolder;
    font-family: 'Changa', sans-serif;

    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    font-family: 'Changa', sans-serif;
    line-height: 1.5em;
}

@media only screen and (max-width: 650px) {
    .card-image {
        height: 35%;
        width: 35%;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sort-and-search-here"
            "paging"
            "render-cards-here";
    }
    .card-flex {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
    .header-span {
        display: none;
    }
    .sort-and-search-section {
        background-image: url("../assets/pokeball-clipart-2.png");
        background-size: 700px;
        background-repeat: no-repeat; 
        background-position: 0% 15%;
        background-position: -70% 15%;
    }
  }